html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'ubuntu', sans-serif;
}

#nav-bar {
    display: flex;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
} 

.nav-list-items {
    text-decoration: none;
    display: block;
    padding: 1.75em;
    font-size: 1.5em;

}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcom-section {
    height: 100vh;
    background-color: aquamarine;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 1.5rem;
}

figcaption {
    text-align: center;  
}

.project-tile {
    text-decoration: none;
}