html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
    --darkbu1: #09090d;
    --darkbu2: #295073;
    --lightbu1: #283540;
    --lightbu2: #5888a6;
    --gray: #5c5f65;
  }

body {
  font-family: "ubuntu", sans-serif;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--gray);
  background-color: var(--darkbu1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.nav-list-items {
  text-decoration: none;
  padding: 0.75em;
  font-size: 1.5em;
}

.nav-list-items:hover {
  transform: translateY(-2.5px);
  transition: transform 0.3s ease-out;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
}

.welcom-section {
  height: 100vh;
  width: 100%;
  background-color: var(--darkbu2);
}

.welcom-section h1 {
  font-size: 3.5em;
}

.welcom-section p {
  font-size: 1.5em;
}

#projects {
  background-color: var(--lightbu1);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  margin: 1.5rem;
}

figcaption {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  padding: 12px 0px 12px 0px;
  background-color: var(--darkbu1);
  color: #ddd;
  position: relative; 
  top: -6px;
}

.project-tile {
  text-decoration: none;
}

.project-tile:hover {
  transform: scale(1.025);
  transition: transform 0.3s ease-out;
}

#contact {
  height: 20em;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#contact h2 {
  font-size: 2em;
  color: #ddd;
}

#contact p {
  font-size: 1.25em;
  color: #ddd;
}

#profile-link {
  text-decoration: none;
  margin: 0 1.5em;
  font-size: 1.25em;
  color: #ddd;
}


#profile-link:hover {
    transform: translateY(-2px);
  }

/* profile class should become id when projects are ready */

.profile-link {
  text-decoration: none;
  margin: 0 1.5em;
  font-size: 1.25em;
  color: white;
}

.profile-link:hover {
    transform: translateY(-2.5px);
    transition: transform 0.3s ease-out;
  }
  

@media (max-width: 600px) {
  html {
    font-size: 65%;
  }
  img {
    width: 65%;
  }
}
