* {
    margin: 0;
    box-sizing: border-box;
    color: cornsilk;
    font-family: lato;
}

h1 {
    margin-left: 48vw;
    text-align: center;
    margin: 75px;
    padding: .5em 0em;
}
    
body {
    background-color: black; 
}

.titleList {
    display: flex;
    flex-wrap: wrap;
}

figure {
    margin: 4em;
}

figcaption {
    text-align: center;
    color: cornsilk;
    margin: 25px;
}

img {
    width: 300px;
}

