* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;  
}

h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
}

.chamberHeader {
    height: 150px;
    display: flex;
    justify-content: center;
}

.buttonHeader {
    height: 100px;
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    font-size: 12px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    font-size: 16px;
}


Button:hover {
    transform: translateY(-2.5px);
    transition: transform 0.3s ease-out;
}

#representatives {
    background-color: #bf0a30;
    color: white;
}

#senators {
    background-color: #002868;
    color: white;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
}

.figureDiv {
    margin: 15px;
    padding: 0px;
    border: 2px solid greed;
    box-shadow: 3px 3px 3px black;
    text-align: center;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

figure {
    width: 100px;
}    

figcaption {
    display: flex;
    justify-content: space-between;
}

.fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-mitten {
    color: green;
}

